{% import "_data/_data.html" as data %}
{% import "assets/_mixins.html" as mixin %}

{% set siteName = "kanscraft" %}
{% set siteAdress = "https://kanscraft.com/" %}
{% set seoTitle = "Изделия из кожи ручной работы в Москве, купить подарки из натуральной кожи" %}
{% set seoDescription = "Изделия из кожи ручной работы в Москве, купить подарки из натуральной кожи" %}

<!doctype html>
<html>
<head>
	{% include "assets/_meta-tags.html" %}
	{% include "assets/_favicons.html" %}
	<link rel="stylesheet" media="all" href="css/app.css">
</head>
<body
	class="loading"
	itemscope="itemscope"
	itemtype="http://schema.org/WebPage"
>

	<!-- BEGIN wrapper -->
	<div class="wrapper {{ wrapperClass }}">
		<div class="wrapper__inner">
			{% include "./widgets/_header.html" %}
			{% block content %}{% endblock %}
			{% include "./widgets/_footer.html" %}
		</div>
	</div>
	<!-- END wrapper -->

	<div class="preloader js-preloader"></div>
	<div class="overlay js-overlay"></div>
	<div class="go-top js-go-top"></div>

	{% include "components/_modals.html" %}

	<!-- BEGIN scripts -->
	<script type="text/javascript" src="js/app.libs.js"></script>
	{% block scripts %}{% endblock %}
	<script type="text/javascript" src="js/app.js"></script>
	<!-- END scripts -->
</body>
</html>
