.row {
    @include row-flex;
}

@for $i from 1 through $columns {

    .col-#{$i} {
        @include col;
        @include size($i);
    }

    .pos-#{$i} {
        order: $i;
    }

    @include respond-to(lg) {

        .col-lg-#{$i} {
            @include size-lg($i);
        }
    }

    @include respond-to(md) {

        .col-md-#{$i} {
            @include size-md($i);
        }

        .pos-md-#{$i} {
            order: $i;
        }
    }

    @include respond-to(sm) {

        .col-sm-#{$i} {
            @include size-sm($i);
        }

        .pos-sm-#{$i} {
            order: $i;
        }
    }

    @include respond-to(xs) {

        .col-xs-#{$i} {
            @include size-xs($i);
        }

        .pos-xs-#{$i} {
            order: $i;
        }
    }
}

@each $screen in lg, md, sm, xs {

    .#{$screen}-show {
        display: none !important;
        pointer-events: none;

        @include respond-to(#{$screen}) {
            display: block !important;
            pointer-events: auto;
        }
    }

    .#{$screen}-only {
        display: none !important;
        pointer-events: none;

        &--flex {
            display: none !important;
            pointer-events: none;
        }
    }

    @include respond-to(#{$screen}) {

        .#{$screen}-only {
            display: block !important;
            pointer-events: auto;

            &--flex {
                display: flex !important;
                pointer-events: auto;
            }
        }

        .#{$screen}-hide {
            display: none !important;
            pointer-events: none;
        }

        .#{$screen}-hidden {
            display: none;
        }
    }

    @include respond-to(#{$screen}) {

        .pos-first-#{$screen} {
            order: -1;
        }
    }
}

@for $i from 0 through 70 {

    .mb-#{$i} {
        margin-bottom: $i + px;
    }

    .mt-#{$i} {
        margin-top: $i + px;
    }

    .ml-#{$i} {
        margin-left: $i + px;
    }

    .mr-#{$i} {
        margin-right: $i + px;
    }

    .pb-#{$i} {
        padding-bottom: $i + px;
    }

    .pt-#{$i} {
        padding-top: $i + px;
    }
}

.ml-a {
    margin-left: auto;
}
