$icons: (0:0);
$icons: map-merge($icons,('angle--left': (X: -517px, Y:-59px, W: 32px, H: 32px, TW: 581px, TH: 539px, IMG: '../files/sprite.png')));
$icons: map-merge($icons,('angle--right': (X: -517px, Y:-96px, W: 32px, H: 32px, TW: 581px, TH: 539px, IMG: '../files/sprite.png')));
$icons: map-merge($icons,('camera': (X: -517px, Y:0px, W: 64px, H: 54px, TW: 581px, TH: 539px, IMG: '../files/sprite.png')));
$icons: map-merge($icons,('iInstagram--sm': (X: -517px, Y:-133px, W: 32px, H: 32px, TW: 581px, TH: 539px, IMG: '../files/sprite.png')));
$icons: map-merge($icons,('instagram--xs': (X: -554px, Y:-59px, W: 21px, H: 21px, TW: 581px, TH: 539px, IMG: '../files/sprite.png')));
$icons: map-merge($icons,('instagram': (X: 0px, Y:0px, W: 512px, H: 512px, TW: 581px, TH: 539px, IMG: '../files/sprite.png')));
$icons: map-merge($icons,('rating--gray': (X: -272px, Y:-517px, W: 74px, H: 13px, TW: 581px, TH: 539px, IMG: '../files/sprite.png')));
$icons: map-merge($icons,('rating': (X: -351px, Y:-517px, W: 74px, H: 13px, TW: 581px, TH: 539px, IMG: '../files/sprite.png')));
$icons: map-merge($icons,('rating_big--gray': (X: 0px, Y:-517px, W: 131px, H: 22px, TW: 581px, TH: 539px, IMG: '../files/sprite.png')));
$icons: map-merge($icons,('rating_big': (X: -136px, Y:-517px, W: 131px, H: 22px, TW: 581px, TH: 539px, IMG: '../files/sprite.png')));


// Gets an attribute from the sass map
@function icon-attr($icon, $attr){
	$icon: map-get($icons, $icon);
	@return map-get($icon, $attr);
}
	

@mixin sprite($iconName){
	background-image: url(icon-attr($iconName, IMG));
	width: icon-attr($iconName, W);
	height: icon-attr($iconName, H);
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y);
}
	
@mixin sprite-position($iconName){
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y);
}
@mixin sprite-retina($iconName){
	background-image: url(icon-attr($iconName, IMG));
	$width: icon-attr($iconName, W);
	$height: icon-attr($iconName, H);
	width: $width/2;
	height: $height/2;
	$x: icon-attr($iconName, X);
	$y: icon-attr($iconName, Y);
	background-position: $x/2 $y/2;
	$tw: icon-attr($iconName, TW);	
	$th: icon-attr($iconName, TH);
	background-size: $tw/2 $th/2;
}
	 	


@mixin s($i){
	@include sprite($i);
}
@mixin sp($i){
	@include sprite-position($i);
}
@mixin sr($i){
	@include sprite-retina($i);
}

//
//.icon-angle--left{
	//	width: 32px
//	height: 32px
//	background-image: url('../files/sprite.png')
//	background-position: -517px -59px
//}
//
//.icon-angle--right{
	//	width: 32px
//	height: 32px
//	background-image: url('../files/sprite.png')
//	background-position: -517px -96px
//}
//
//.icon-camera{
	//	width: 64px
//	height: 54px
//	background-image: url('../files/sprite.png')
//	background-position: -517px 0px
//}
//
//.icon-iInstagram--sm{
	//	width: 32px
//	height: 32px
//	background-image: url('../files/sprite.png')
//	background-position: -517px -133px
//}
//
//.icon-instagram--xs{
	//	width: 21px
//	height: 21px
//	background-image: url('../files/sprite.png')
//	background-position: -554px -59px
//}
//
//.icon-instagram{
	//	width: 512px
//	height: 512px
//	background-image: url('../files/sprite.png')
//	background-position: 0px 0px
//}
//
//.icon-rating--gray{
	//	width: 74px
//	height: 13px
//	background-image: url('../files/sprite.png')
//	background-position: -272px -517px
//}
//
//.icon-rating{
	//	width: 74px
//	height: 13px
//	background-image: url('../files/sprite.png')
//	background-position: -351px -517px
//}
//
//.icon-rating_big--gray{
	//	width: 131px
//	height: 22px
//	background-image: url('../files/sprite.png')
//	background-position: 0px -517px
//}
//
//.icon-rating_big{
	//	width: 131px
//	height: 22px
//	background-image: url('../files/sprite.png')
//	background-position: -136px -517px
//}
//