{
    "compact": false,
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": ["last 4 versions"]
                }
            }
        ]
    ],
    "parserOpts": {
        "plugins": [
            "transform-object-rest-spread",
            "transform-es2015-spread",
            "transform-es2015-destructuring"
        ]
    },
    "ignore": ["node_modules"]
}
