<link type="image/x-icon" href="files/favicon/favicon.ico" rel="shortcut icon" />
<link rel="icon" type="image/png" sizes="16x16" href="files/favicon/16x16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="files/favicon/32x32.png" />
<link href="files/favicon/120x120.png" rel="apple-touch-icon" sizes="120x120" />
<link href="files/favicon/152x152.png" rel="apple-touch-icon" sizes="152x152" />
<link href="files/favicon/167x167.png" rel="apple-touch-icon" sizes="167x167" />
<link href="files/favicon/180x180.png" rel="apple-touch-icon" sizes="180x180" />
