<link rel="canonical" href="https://tealao.ru/" />
<meta property="og:locale" content="ru_RU" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{% if title %}{{ title }}{% else %}Title{% endif %}" />
<meta property="og:description" content="{% if Description %}{{ Description }}{% else %}Description{% endif %}" />
<meta property="og:url" content="https://tealao.ru/" />
<meta property="og:site_name" content="TEALAO" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="{% if Description %}{{ Description }}{% else %}Description{% endif %}" />
<meta name="twitter:title" content="{% if title %}{{ title }}{% else %}Title{% endif %}" />
