<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />

<title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>

<link rel="canonical" href="{{ siteAdress }}" />
<meta property="og:locale" content="ru_RU" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ seoTitle }}" />
<meta property="og:description" content="{{ seoDescription }}" />
<meta property="og:url" content="{{ siteAdress }}" />
<meta property="og:site_name" content="{{ siteName }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="{{ seoDescription }}" />
<meta name="twitter:title" content="{{ seoTitle }}" />

<meta name="description" content="{{ seoDescription }}" />
<meta name="yandex-verification" content="" />
