<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1, width=device-width, height=device-height, viewport-fit=cover, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />

<title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<meta name="application-name" content="Site name" />
<meta name="apple-mobile-web-app-title" content="Site name" />
<meta name="apple-mobile-web-app-capable" content="no" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta name="theme-color" content="#ffffff" />

<meta name="msapplication-config" content="/browserconfig.xml" />

<link rel="manifest" href="/manifest.json" />
