@charset "UTF-8";

// Default Variables

$slick-font-path: '../fonts/' !default;
$slick-font-family: 'slick' !default;
$slick-loader-path: '../img/general/' !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: '←' !default;
$slick-next-character: '→' !default;
$slick-dot-character: '•' !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    } @else {
        @return url($slick-loader-path+$url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    } @else {
        @return url($slick-font-path+$url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url('loader.gif') center center no-repeat;
    }
}

/* Icons */
@if $slick-font-family == 'slick' {
    @font-face {
        font-family: 'slick';
        font-style: normal;
        font-weight: normal;
        src: slick-font-url('slick.eot');
        src: slick-font-url('slick.eot?#iefix') format('embedded-opentype'),
            slick-font-url('slick.woff') format('woff'),
            slick-font-url('slick.ttf') format('truetype'),
            slick-font-url('slick.svg#slick') format('svg');
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    color: transparent;
    font-size: 0;
    line-height: 0;
    cursor: pointer;

    &:hover,
    &:focus {
        outline: none;
        background: transparent;
        color: transparent;

        &::before {
            opacity: $slick-opacity-on-hover;
        }
    }

    &.slick-disabled::before {
        opacity: $slick-opacity-not-active;
    }
}

.slick-prev::before,
.slick-next::before {
    opacity: $slick-opacity-default;
    color: $slick-arrow-color;
    font-family: $slick-font-family;
    font-size: 20px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;

    &::before {
        content: $slick-prev-character;

        [dir='rtl'] & {
            content: $slick-next-character;
        }
    }

    [dir='rtl'] & {
        right: -25px;
        left: auto;
    }
}

.slick-next {
    right: -25px;

    &::before {
        content: $slick-next-character;

        [dir='rtl'] & {
            content: $slick-prev-character;
        }
    }

    [dir='rtl'] & {
        right: auto;
        left: -25px;
    }
}

/* Dots */

.slick-dots {
    position: absolute;
    bottom: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
        position: relative;
        display: inline-block;
        margin: 0;
        cursor: pointer;

        button {
            display: block;
            padding: 1px;
            border: none;
            outline: none;
            background: none;
            background-color: transparent;
            color: red;
            font-size: 0;
            line-height: 0;
            cursor: pointer;

            &::before {
                content: '';
                box-sizing: border-box;
                opacity: 0.3;
                display: block;
                width: 7px;
                height: 7px;
                transform: scale(0.7);
                transition: transform 0.5s ease;
                border-radius: 50%;
                background: #ff8272;
                color: $color-main;
                font-size: 25px;
            }

            &:hover {
                &::before {
                    background: #ff1d00;
                }
            }
        }

        &.slick-active button::before {
            opacity: 0.6;
            transform: scale(1);
            transition: transform 0.5s ease;
            background: #ff1d00;
            color: $color-main;
        }
    }
}
