.c-accordeon {
    @include nosel;

    &__item {
        @extend %box;
        @include respond-to(xs) {
            box-shadow: none;
        }

        & + .c-accordeon__item {
            margin-top: 10px;
        }

        &.is-open {
            .c-accordeon {
                &__title {
                    &:hover {
                        box-shadow: none;
                    }

                    .icon {
                        transform: translateY(-50%) rotate(90deg);
                    }
                } //.c-accordeon__item.is-open .c-accordeon__title
            }
        } //.c-accordeon__item.is-open
    } //.c-accordeon__item

    &__title {
        position: relative;
        display: block;
        margin: 0;
        padding: 18px 30px 18px 20px;
        border-radius: $border-radius;
        color: $color-text;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;

        @include xs-block() {
            padding: 18px 30px 18px 10px;
        }

        @include sm-block() {
            &:hover {
                box-shadow: none;
            }
        }

        &:hover {
            box-shadow: $bxs-hover;
        } //.c-accordeon__title:hover

        .icon {
            position: absolute;
            top: 50%;
            right: 10px;
            width: 10px;
            height: 10px;
            transform: translateY(-50%) rotate(-90deg);
        } //.c-accordeon__title .icon

        &-count {
            color: $gray--light;
            font-size: 14px;
            font-weight: 300;
        } //.c-accordeon__title-count

        .c-checkbox {
            &__box {
                top: -1px;
            }
        } //.c-accordeon__title .c-checkbox
    } //.c-accordeon__title

    &__content {
        padding: 0 20px 18px;

        @include xs-block() {
            padding: 0 10px 18px;
        }
    } //.c-accordeon__content

    &--other {
        .c-accordeon {
            &__item {
                &.is-open {
                    .c-accordeon__title {
                        &::before {
                            content: '';
                            transform: rotate(90deg);
                        }

                        &::after {
                            opacity: 0;
                            transform: rotate(90deg);
                        }
                    }
                }
            }

            &__title {
                margin: 0;
                padding: 15px 50px 15px 15px;

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    display: block;
                    width: 11px;
                    height: 1px;
                    transform-origin: 50% 50%;
                    background-color: $color-main;
                    will-change: transform;
                    @include tr;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    display: block;
                    width: 1px;
                    height: 11px;
                    margin-top: 0.5px;
                    transform-origin: 50% 50%;
                    background-color: $color-main;
                    will-change: transform;
                    @include tr;
                }
            } //.c-accordeon--other .c-accordeon__title

            &__content {
                width: 100%;
            }
        }
    } //.c-accordeon--other

    &--mobile {
        .c-accordeon {
            &__item {
                border-bottom: 1px solid $color-border--lightest;

                &:first-child {
                    border-top: 1px solid $color-border--lightest;
                }

                & + .c-accordeon__item {
                    margin-top: 0;
                }
            }

            &__title {
                display: block;
                width: 100%;
                font-family: $f;

                // &::before {
                //     @include fa('light');
                //     margin-right: 0;
                //     color: $gray--light;
                //     @include centre;
                //     left: auto;
                //     right: 20px;
                // }
            }

            &__content {
                padding: 0 10px 7px;
                font-size: 14px;

                a {
                    padding: 5px 0;
                }
            }
        }
    } //.c-accordeon--mobile

    &--dark {
        .c-accordeon {
            &__item {
                background-color: $gray--darken;
            }

            &__title {
                color: rgba(#fff, 0.6);

                &::before {
                    color: rgba(#fff, 0.6);
                }
            }
        }
    } //.c-accordeon--dark

    &--light {
        .c-accordeon {
            &__item {
                box-shadow: none;
            }

            &__title {
                box-shadow: none;

                // &::before {
                //     margin-right: 0;
                //     @include centre('y');
                //     right: 20px;
                // }

                &:hover {
                    box-shadow: none;
                }
            }
        }
    } //.c-accordeon--light
} //.c-accordeon
