.breadcrumbs {
    padding: 15px 0;

    &__list {
        display: flex;
    } //.breadcrumbs__list

    &__item {
        position: relative;

        &:last-child {
            @include nosel;

            .breadcrumbs__title {
                color: $color-text--light;
                // font-weight: 500;
            }
        }

        & + & {
            margin-left: 25px;
        }
    } //.breadcrumbs__item

    &__link {
        &:hover {
            .breadcrumbs__title {
                color: $color-text--light;
            }
        }
    } //.breadcrumbs__link

    &__title {
        color: $color-text--lighten;
        font-size: 15px;
        font-weight: 400;
    } //.breadcrumbs__title

    &__icon {
        right: -17px;
        width: 9px;
        height: 9px;
        @include centre('y');

        svg {
            position: relative;
            top: -7px;
        }
    } //.breadcrumbs__icon
} //.breadcrumbs
