$input-border-radius: $border-radius * 2;

.c-input {
    position: relative;
    display: inline-block;
    width: 100%;

    &::before {
        content: '';
        line-height: 1;
        @include centre;
    }

    &__wrapper {
        @include flex;
    }

    &__wrap {
        position: relative;

        &_inline {
            display: inline-block;

            & + & {
                margin-left: 30px;
                @include max-screen(480) {
                    margin-left: 0;
                }
            }
        }
    }

    &__title {
        display: block;
        margin-top: 0;
        font-size: 14px;
        font-weight: 500;

        span {
            display: inline-block;
            margin-left: 5px;
            color: $color-danger;
        }
    } //.c-input__title

    &__field {
        width: 100%;
        @extend %styleInput;

        &.no-border {
            padding: 0;
            border: 0;
        }
    } //.c-input__field

    &__box {
        justify-content: space-between;
        @include flexCenter;
    } //.c-input__box

    &__remove {
        position: relative;
        top: 2px;
        width: 16px;
        height: 16px;
        margin-left: 15px;
        fill: $gray--lighten;
        cursor: pointer;
        @include tr;

        @include max-screen(480) {
            width: 15px;
            height: 15px;
            margin-right: 5px;
            margin-left: 0;
        }

        &:hover,
        &:focus {
            fill: $gray;
        }
    } //.c-input__remove

    &__error {
        position: absolute;
        bottom: -15px;
        left: 0;
        display: none;
        width: 100%;
        color: $color-danger;
        font-size: 13px;
        font-weight: 400;
        line-height: 1;
        text-align: center;
        @include text-overflow;
    } //.c-input__error

    &__icon {
        position: absolute;
        right: 15px;
        bottom: 11px;
        color: $color-icon;
        line-height: 1;
        cursor: pointer;
    } //.c-input__icon

    &.is-invalid {
        .c-input {
            &__field {
                border: 2px solid $color-danger !important;
                background-color: rgba($color-danger, 0.05);
            }

            &__error {
                display: block;
            }
        }
    }

    &--title {
        margin-top: 25px;
    } //.c-input--title

    &--user {
        &::before {
            content: '\f007';
            right: 12.5px;
        }
    } //.c-input--user

    &--price {
        width: 110px;
        @include max-screen(320) {
            width: 100px;
        }

        &::before {
            content: '\f158';
            right: 0;
        }

        .c-input {
            &__field {
                width: 100%;
                padding-right: 0;
            }
        }
    } //.c-input--price

    &--time {
        &::before {
            content: '\f017';
            right: 10px;
        }

        .c-input {
            &__field {
                padding-right: 30px;
            }
        }
    } //.c-input--time

    &--email {
        &::before {
            content: '';
            right: 10px;
        }
    } //.c-input--email

    &--phone {
        &::before {
            content: '';
            right: 13.5px;
            font-size: 23px;
        }
    } //.c-input--phone

    &--password {
    } //.c-input--password

    &--confirm {
        .c-input {
            &__error {
                white-space: nowrap;
            }

            &__field {
                padding: 5px;
                font-size: 16px;
            }
        }
    } //.c-input--confirm

    .selectize-control {
        min-width: 70px;
    }

    .select2-container .select2-selection--single .select2-selection__rendered,
    .select2-results__option {
        font-size: 16px;
    }
} //.c-input
