.pagination {
    justify-content: center;
    @include flexCenter;

    &__list {
        @include flexCenter;
    } //.pagination__list

    &__item {
        margin: 0 3px;
        text-align: center;
        @include flexCenter;

        &.is-active {
            .pagination__link {
                background-color: $color-main;
                color: #fff;

                &:hover {
                    color: $color-main;
                }
            }
        }
    } //.pagination__item

    &__link {
        justify-content: center;
        width: 32px;
        height: 32px;
        margin: auto;
        border: 1px solid transparent;
        border-radius: $border-radius;
        color: $gray--light;
        font-size: 14px;
        @include flexCenter;

        &:hover {
            border-color: $color-border--light;
            color: $color-main;
        }

        .fa,
        .fab,
        .fal,
        .far,
        .fas {
            font-size: 20px;
            line-height: 1;
        }
    } //.pagination__link

    &__gap {
        margin-right: 8px;
    }
} //.pagination
