.noUi-horizontal {
    height: 2px;

    .noUi-handle {
        top: -3px;
        left: -3px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $color-accent;

        @include xs-block() {
            width: 10px;
            height: 10px;
        }
    }
}

.noUi-base,
.noUi-handle {
    background-color: $color-main;
}

.noUi-handle {
    position: relative;
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    cursor: pointer;

    &::after {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: rgba($color-accent, 0.35);
        @include vcenter;
        @include tr(0.5s);
        @include xs-block() {
            width: 28px;
            height: 28px;
        }
    }

    &::before {
        display: none;
    }
}

.noUi-connect,
.noUi-target {
    border: none;
    border-radius: 0;
    background: $color-accent;
    box-shadow: none;
}

.range {
    &__slider {
        width: 90%;
        margin: 5px auto 20px;
    } //.range__slider

    &__diapazon {
        @include row-flex;
    } //.range__diapazon

    &__from,
    &__to {
        position: relative;
        @include col;
        @include size(6);
        @include flexCenter;

        span {
            color: $color-text;
            font-size: 13px;
        }

        i {
            color: $gray--light;
            font-size: 13px;
        }

        input {
            width: 100%;
            font-weight: 600;
            @extend %styleInput;
        }
    } //.range__from

    &__to {
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -15px;
            display: block;
            width: 8px;
            height: 1px;
            background-color: $color-bg;
        }
    } //.range__to

    &__icon {
        right: 11px;
        @include centre('y');
    }
} //.range
