.tab {
    &__inner {
        padding: $gutter;
    } //.tab__inner

    &__titles {
        position: relative;
        border-bottom: 1px solid $color-border--lighten;
        @include flexCenter;

        &--scroll {
            overflow-x: auto;
        }
    } //.tab__titles

    &__title {
        width: 100%;
        margin: 0 7px -1px;
        outline: none;
        text-align: center;
        white-space: nowrap;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            .tab__link {
                border-bottom: 2px solid lighten($color-main, 15%);
            }
        }

        &.is-active,
        &.ui-state-active {
            .tab {
                &__link {
                    border-bottom: 2px solid $color-main;
                }

                &__icon {
                    color: $color-main;
                }
            }
        }
    } //.tab__title

    &__link {
        display: block;
        padding: 5px 30px 6px;
        transition: none;
        border-bottom: 2px solid transparent;
        outline: none;
        color: $color-text;
        cursor: pointer;
        @include nosel;

        @include respond-to(xs) {
            padding: 5px 0 6px;
        }

        &:hover {
            color: $color-text;
        }
    } //.tab__link

    &__icon {
        margin-right: 7px;
        color: $color-icon;
        font-size: 14px;
    } //.tab__icon

    &__content {
        display: none;
        padding: 15px 30px;
    } //.tab__content

    &__line {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        height: 2px;
        transition: all 0.5s;
        border-radius: 5px;
        background: $color-main;
    } //.tab__line

    &--two {
        .tab {
            &__titles {
                justify-content: center;
            }

            &__title {
                width: auto;
                margin: 0 0 -1px;

                &:not(.ui-state-active) {
                    &:hover,
                    &.ui-state-hover {
                        .tab__link {
                            border-bottom: 1px solid $color-border--lighten;
                            border-color: #e8e8e8 #e8e8e8 transparent;
                            background-color: $color-border--lightest;

                            @include respond-to(xs) {
                                border-color: transparent;
                                background-color: transparent;
                            }
                        }
                    }
                }

                &.is-active,
                &.ui-state-active {
                    .tab__link {
                        border-bottom: 1px solid #fbfbfb;
                        border-color: $color-border--lighten $color-border--lighten
                            $color-bg--lighten;
                    }

                    .tab__icon {
                        color: $color-main;
                    }
                }
            }

            &__link {
                width: auto;
                border: 1px solid;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                border-color: transparent;
                font-family: $f-medium;
                font-size: 15px;

                @include respond-to(xs) {
                    padding: 5px 10px;
                }
            }
        }
    } //.tab--two
} //.tab
