<!-- BEGIN modal-example -->
<div class="modal modal--sm fade modal-example" id="modal-example">
		<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header modal-header--center">
				<h5 class="modal-title">Заголовок</h5>
				<button
					class="close modal__btn modal__btn--close"
					data-dismiss="modal"
					aria-label="Close"
				>
					{{ mixin.icon('close') }}
				</button>
			</div>
			<div class="modal-body">
				<!-- CONTENT -->
			</div>
		</div>
	</div>
</div>
<!-- END modal-example -->
