<!-- begin breadcrumbs -->
<div class="breadcrumbs">
	<ul class="breadcrumbs__list"
		itemscope
		itemtype="http://schema.org/BreadcrumbList"
	>
		<li
			class="breadcrumbs__item"
			itemprop="itemListElement"
			itemscope
			itemtype="http://schema.org/ListItem"
		>
			<a
				class="breadcrumbs__link"
				itemprop="item"
				rel="home"
				href="/"
			>
				<span class="breadcrumbs__title" itemprop="name">Главная</span>
			</a>
		</li>
		<li
			class="breadcrumbs__item"
			itemprop="itemListElement"
			itemscope
			itemtype="http://schema.org/ListItem"
		>
			<span class="breadcrumbs__title" itemprop="name">Каталог</span>
		</li>
	</ul>
</div><!-- end breadcrumbs -->
