<!-- begin star-rating -->
<fieldset class="awesome-star-rating">
	<input type="radio" id="star5" name="rating" value="5" />
	<label
		class="full"
		for="star5"
		title="5 из 5"
	>
	</label>

	<input
		type="radio"
		id="star4half"
		name="rating"
		value="4.5"
	/>
	<label
		class="half"
		for="star4half"
		title="4.5 из 5"
	>
	</label>

	<input type="radio" id="star4" name="rating" value="4" />
	<label
		class="full"
		for="star4"
		title="4 из 5"
	>
	</label>

	<input
		type="radio"
		id="star3half"
		name="rating"
		value="3.5"
	/>
	<label class="half" for="star3half" title="3.5 из 5"></label>

	<input type="radio" id="star3" name="rating" value="3" />
	<label
		class="full"
		for="star3"
		title="3 из 5"
	>
	</label>

	<input
		type="radio"
		id="star2half"
		name="rating"
		value="2.5"
	/>
	<label class="half" for="star2half" title="2.5 из 5"></label>

	<input type="radio" id="star2" name="rating" value="2" />
	<label
		class="full"
		for="star2"
		title="2 из 5"
	>
	</label>

	<input
		type="radio"
		id="star1half"
		name="rating"
		value="1.5"
	/>
	<label class="half" for="star1half" title="1.5 из 5"></label>

	<input type="radio" id="star1" name="rating" value="1" />
	<label
		class="full"
		for="star1"
		title="1 из 5"
	>
	</label>

	<input type="radio" id="starhalf" name="rating" value="0.5" /><label
		class="half"
		for="starhalf"
		title="0.5 из 5"
	></label>
</fieldset>
<!-- end star-rating -->
